<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кабинет</title>
    <style>
        h1{
           text-align: center; 
        }
        body{
            background-color: {{data['color']}};
        }
        .user{
            color: black;
            padding: 1rem;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Привет {{data['login']}}</h1>
    <ul>
        {% for i in users %}
        <li><div class='user'>{{i}}</div></li>
        {% endfor %}
    </ul>
</body>
</html>